/**!
 * 通用三级页
 * author: huangcong;
 * date:2019-10-29
 */

/* 位置 */

body{
	background: #f2f6fb;
}

.loc{
	padding: 20px 0 22px 0;
	line-height: 20px;
	font-size: 14px;
	color: #666;
	padding-left: 21px;
	background: url('../images/loc.png') left 20px no-repeat;
}

.loc a{
	color: #666;
}

.color-light{
	color: #ff6600;
}

/* article */

.ewb-article {
	padding: 20px;
	background: #fff;
	box-shadow: 0px 1px 4px 0px rgba(171, 171, 171, 0.74);
	overflow-x: auto;
}

.ewb-article h3 {
	line-height: 42px;
	text-align: center;
	font-size: 28px;
	color: #000;
}

.ewb-article-sources {
	margin-top: 10px;
	line-height: 36px;
	text-align: center;
	color: #999;
	background-color: #f7f7f7;
}

.ewb-article-sources p {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	font-size: 14px;
}

.ewb-article-sources a {
	color: #999;
}

.ewb-article-info {
	word-break: break-all;
	min-height:400px;
}

.ewb-article-p {
	margin-top: 14px;
	line-height: 32px;
	font-size: 14px;
	text-indent: 2em;
	color: #4e4e4e;
	text-align: justify;
	text-justify: inter-ideograph;
}

.ewb-article-img {
	display: block;
	margin: 18px auto 0;
	padding-bottom: 4px;
}

/*1200分辨率以下*/

@media (max-width: 1199px) {
	.ewb-article h3 {
		font-size: 24px;
		line-height: 32px;
	}
}

/*手机端*/

@media (max-width: 767px) {
	.ewb-details {
		padding: 0 0 20px 0;
	}

	.ewb-article {
		padding: 10px 10px;
	}

	.ewb-article h3 {
		font-size: 20px;
		line-height: 30px;
	}

	.ewb-article-sources {
		padding: 5px 0;
		line-height: 24px;
	}

	.ewb-article-sources p {
		font-size: 12px;
	}

	.ewb-article-p {
		font-size: 12px;
		line-height: 24px;
	}

}/* 分享 */
.ewb-share{
	position: relative;
	display: inline-block;
  }
  .ewb-share-hidebox{
	  position: absolute;
	  top: 100%;
	  z-index: 9;
	  left: -68px;
	  padding-top: 10px;
	  display: none;
  }
  
  .ewb-share i {
	  width: 25px;
	  height: 25px;
	  background: url("../images/content_icon.png")  0 -201px no-repeat;
	  vertical-align: middle;
	  display: inline-block;
	  cursor: pointer;
  }
  
  .ewb-share-hidebox dl {
	  border: #e5e5e5 1px solid;
	  background: #fff;
	  box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  -webkit-box-sizing: content-box;
	  border-radius: 0 0 5px 5px;
	  width: 170px;
	  text-align: center;
	  position: relative;
  }
  
  .ewb-share-hidebox a {
	  display: inline-block;
	  float: none;
	  margin: 0 2px;
	  text-indent: 0;
  }
  
  .ewb-share-hidebox dt {
	  text-align: center;
	  font-size: 14px;
	  font-weight: bold;
	  color: #626262;
	  background: #f6f6f6;
  }
  
  .ewb-share-hidebox dd {
	  padding: 5px;
  }
  
  .ewb-share-hidebox dl:after {
	  content: '';
	  display: block;
	  line-height: 0;
	  font-size: 0;
	  width: 0;
	  height: 0;
	  overflow: hidden;
	  border: 8px solid transparent;
	  border-bottom-color: #e5e5e5;
	  position: absolute;
	  left: 50%;
	  top: -16px;
	  margin-left: -8px;
  }
  
  .ewb-share:hover .ewb-share-hidebox {
	  display: block;
  }
  
  
  .bdshare-button-style0-32 a{
	  display: inline-block !important;
	  float: none !important;
	  vertical-align: middle !important;
	  margin: 6px 0 6px 6px !important;
  }
  .bdshare-button-style0-32 a:first-child{
	  margin-left: 0 !important;
  }
  .bd_weixin_popup .bd_weixin_popup_main{
	  padding:5px 0 !important;
  }
  .bd_weixin_popup .bd_weixin_popup_foot{
	  margin:0 -5px!important;
  }
  
 /*.ewb-article-info.news_content img{
	 width:100%;
 }*/
 
 .ewb-16{
	 font-size:16px !important;
 }
  
 .ewb-14{
	 font-size:14px !important;
 }
  
 .ewb-12{
	 font-size:12px !important;
 }
 
 .ewb-20{
	 font-size:20px !important;
 }
 
 .ewb-blue-a{
	 cursor:pointer;
	 line-height:30px; 
	 background:url(../images/xz.png) no-repeat left center;
	 padding-left:15px;
 }
 
 .news_content table{
	 margin:0px auto;
 }
 
.glxx {
    font-size: 16px;
    color: red;
    line-height: 30px;
    font-weight: bold;
}

.glxx_li{ 
	cursor:pointer;
}
.glxx_li a{
	color:#333; 
}

.glxx_li a:hover{
	color:#0b87ef;
}