/**!
* 曝光台
* date:2020-06-17
* author: wuzhou;
*/

 
.supervise-right {
    margin-top: 26px;
}

.supervise-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 31px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: url("../images/supervise_ico.png") 204px bottom no-repeat #1883e8;
}

.supervise-column {
    border-left:1px solid #c9e8fd;
    border-right:1px solid #c9e8fd;
}

.column-items >li {
    height: 45px;
    border-bottom: 1px solid #e2f0fb;
}

.column-items >li >a {
    border-left:5px solid transparent;
    display: block;
    font-size: 16px;
    color: #333;
    padding-left: 53px;
    line-height: 45px;
    background: url("../images/column_ico1.png") 36px 50% no-repeat;
}

.column-items >li.active>a,
.column-items >li >a:hover {
    color: #0b87ef;
    background-color: #d7edff;
    border-left-color: #37a3ff;
    background-image: url("../images/column_ico2.png");
    background-position: 37px 50%;
}

/*  备案管理  */
.interaction-title {
    height: 49px;
    border-bottom: 1px solid #e8e8e8;
}

.interaction-name {
    position: relative;
    height: 48px;
    line-height: 48px;
    padding: 0 6px 0 22px;
    font-size: 20px;
    font-weight: bold;
    color: #1883e8;
    border-bottom: 2px solid #368dea;
}

.interaction-name:before {
    position: absolute;
    content: "";
    left: 0;
    top: 11px;
    width: 7px;
    height: 26px;
    border-radius: 3px;
    background: #66a5f8;
    background: linear-gradient(to bottom, #66a5f8, #398feb);
    background: -webkit-linear-gradient(top, #66a5f8, #398feb);
    background: -o-linear-gradient(bottom, #66a5f8, #398feb);
    background: -moz-linear-gradient(top, #66a5f8, #398feb);
}

.news-items {
    padding-top: 23px;
}

.news-items>li {
    position: relative;
    line-height: 46px;
    vertical-align: top;
}

.news-items>li:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    background-color: #888;
    border-radius: 50%;
}

.news-items>li>a {
    padding-left: 19px;
    display: block;
    color: #666;
    margin-right: 120px;
}

.news-time {
    position: absolute;
    right:0;
    top:0;
    color: #999;
}

.news-items>li:hover a,
.news-items>li:hover .news-time {
    color: #0080e4;
}

.news-items>li:hover:before {
    background-color: #0080e4;
}

/* 分页 */
.page-box {
    padding-top: 24px;
}

.pager {
    margin: 0;
    padding: 0;
    text-align: center;
}

.m-pagination-page,
.m-pagination-jump {
    float: none;
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    margin-right: 0;
}

.m-pagination-page > li > a {
     border-radius: 4px;
}


.m-pagination-page > li:hover > a, .m-pagination-group > button:hover {
    color: #fff;
    border-color: #1883e8;
    background-color: #1883e8;
}

.m-pagination-page > li.active > a {
    color: #fff;
    font-weight: normal;
    background-color: #1883e8;
}

.m-pagination-jump {
    width: 83px;
}


/* 关键字查询 */
.skey-wrap {
    width: 261px;
    height: 32px;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    border-right: 0;
}

.skey-wrap .search {
    padding-left: 0;
    width: 227px;
    height: 32px;
}

.skey-wrap .search .input-box {
    height: 32px;
    line-height: 31px;
    text-indent: 11px;
    font-size: 14px;
}

.skey-wrap .search .input-placeholder {
    left: 11px;
    height: 32px;
    line-height: 31px;
    color: #999;
    z-index: -1;
    font-size: 14px;
    cursor: text;
}


.skey-wrap .search-btn {
    margin-top: -2px;
    margin-right: -2px;
    width: 35px;
    height: 35px;
   border-radius: 50%;
    background: url("../images/skey_ico.png") center no-repeat;
    background-color: #1882e7;
}