@charset "UTF-8";

/*
 * @Author: xhy
 * @Date: 2019-04-01 09:39:17 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2019-06-27 10:32:31
 */


/********头部样式*******/

body {
    background: #f5f7fc url(../images/xhy-bg_01.png) no-repeat top center;
}

.xhy-h {
    height: 110px;
    min-width: 1200px;
    width: 100%;
    background: #fff;
    z-index: 999;
    position: relative;
}

.xhy-hlf {
    padding-top: 18px;
}

.xhy-hn {
    margin: 0 auto;
    width: 1200px;
}

.xhy-hrtt {
    padding-top: 14px;
    margin-left: 324px;
}

.xhy-hrtt a {
    font-size: 12px;
    color: #666666;
}

.xhy-hrtt a:hover {
    text-decoration: underline;
}

.xhy-hrtt span {
    font-size: 10px;
    color: #666666;
    padding: 0 9px;
    line-height: 16px;
}

.xhy-hrttdis {
    margin-right: 20px;
}

.xhy-hrtb {
    margin-top: 31px;
}

.xhy-hrtb {
    margin-right: -8px;
}

.xhy-hrtb li {
    float: left;
    margin-left: 9px;
}

.xhy-hrtb li a {
    display: inline-block;
    height: 50px;
    padding: 0 8px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    box-sizing: border-box;
}

.xhy-hrtb li a:hover,
.xhy-navcur {
    color: #263d80;
    border-bottom: 4px solid #3655c4;
}

.xhy-search {
    width: 1200px;
    margin: 0 auto 0px auto;
    height: 52px;
}

.xhy-seardiv {
    margin: 70px auto 85px auto;
    width: 603px;
    height: 52px;
    background: url(../images/xhy-searbg_03.png) no-repeat;
}

.xhy-seardiv input {
    font-size: 14px;
    color: #403131;
    box-sizing: border-box;
    width: 534px;
    height: 100%;
    line-height: 52px;
    padding: 0 28px;
}

.xhy-seardiv input::-webkit-input-placeholder {
    color: #403131;
}

.xhy-seardiv button {
    width: 52px;
    height: 52px;
    background: url(../images/xhy-searbtnbg_04.png) no-repeat;
    cursor: pointer;
    float: right;
}


/****尾部***/

.xhy-link {
    margin-top: 20px;
}

.xhy-f-link {
    width: 1200px;
    height: 80px;
    margin: 0 auto 20px auto;
    background: #fff;
}

.xhy-f-p {
    font-size: 18px;
    font-weight: bold;
    color: #3655c4;
    line-height: 80px;
    margin-left: 20px;
}

.xhy-f-p span {
    margin-left: 5px;
}

.xhy-f-drops {
    margin-top: 25px;
    float: right;
    width: 1000px;
    line-height: 28px;
}

.xhy-drop-select {
    margin-right: 70px;
}

.xhy-drop-select p {
    width: 210px;
    line-height: 30px;
    height: 30px;
    background: #ffffff;
    font-size: 16px;
    color: #828282;
    position: relative;
    cursor: pointer;
}

.db {
    display: inline-block;
}

.xhy-f-text {
    height: 30px;
    color: #828282;
    font-size: 16px;
}

.xhy-f-icon {
    margin-left: 6px;
}

.arrow {
    transition: 1s;
    -webkit-transition: 1s;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.arrow.cur {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.xhy-dropdown-menu {
    overflow-y: auto;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ededed;
    width: 215px;
    height: 90px;
    font-size: 12px;
    color: #566279;
    background: #ffffff;
    z-index: 9999;
}

.xhy-dropdown-menu li {
    box-sizing: border-box;
    padding-left: 20px;
    width: 100%;
    height: 30px;
}

.xhy-dropdown-menu li a:hover {
    text-decoration: underline;
}

.xhy-special {
    margin-right: 0px;
}

.xhy-special p {
    width: 100px;
}

.xhy-special .xhy-dropdown-menu {
    width: 130px;
}

.footer {
    position: relative;
    z-index: 999;
    height: 96px;
    background: #cf0304;
    min-width: 1200px;
}

.w-container {
    width: 1200px;
    margin: 0 auto;
}

.f-text {
    width: 576px;
    padding-top: 26px;
    display: inline-block;
    margin-left: 20px;
}

.f-text p {
    font-size: 12px;
    line-height: 20px;
    color: #f6dddd;
}

.f-text span {
    display: inline-block;
    margin-right: 10px;
}

.f-text span:last-child {
    margin-right: 0;
}

.f-img1 {
    margin-top: 25px;
    margin-left: 8px;
}

.f-img2 {
    margin-top: 26px;
}

.f-list {
    padding-top: 38px;
}

.f-list a,
.f-list span {
    display: inline-block;
    color: #f6dddd;
    font-size: 14px;
}

.f-list a:hover {
    font-weight: bold;
}

.f-list span {
    margin: 0 10px;
}


/***右侧固定***/

.index-float {
    height: 100%;
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
    background: url(../images/bg2.png);
}

.index-float-l {
    text-align: center;
    padding-top: 200px;
}

.index-float-l a {
    display: block;
    position: relative;
    height: 40px;
    margin-bottom: 10px;
    line-height: 40px;
}

.index-float-l a img {
    vertical-align: middle;
}

.index-float-l a .item {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    white-space: nowrap;
    padding: 0 13px;
    height: 40px;
    background: #cb1212;
    line-height: 40px;
}

.index-float-l a .item img {
    margin-right: 8px;
}

.index-float-l a .item span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
}